body {
    text-align: center;
}

.row {
 position: relative;
}

.main {
    margin-top: 300px;
}


button {
    width: 60px;
    height: 60px;
    
}
input {
    width: 100px;
    height: 55px;
    text-align: center;
}

h1 {
    font-size: 80px;
}